                                        /*header*/
.navbar{
     margin-left: 0;
 }
 .navbar-brand{
 color:white;
 font-family: Brush Script Std, cursive;
 font-size:30px;
 }
 .nav1 .nav-item a{
 color:white;
 font-weight: 400;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 display: block;
}
.nav1 .nav-item .nav-link.active{
 border-bottom: 1px solid white;  
 border-right-width: 50px;
  
}
.nav1 .nav-item a:hover{
 border-bottom: 1px solid white;    
 transition: width 0.3;
}
.section1{
    background:url(../images/theme.png) no-repeat;   
    background-size:cover;
    background-position: center;
    height:130vh;
}
.btncollapse{
    color:red;
    font-size:25px;
}   
.header-text{
    margin-top:150px;
    text-align:center;
}
.button{
    border: 2px solid white;
    color:black;
    text-transform:uppercase;
    transition:all 0.5 ease-in-out;
    border-radius:50px;
    background:white;
    font-weight: bold;
    padding:10px 20px;
    border-color:white;
    font-size:15px;
    font-family:tahoma;
    font-weight:bold;
    margin-top:40px;
    display:inline-block;
}
.button .fa{
  margin-left:20px;
}
.button:hover, .button:focus{
    background: transparent;
    text-decoration: none;
    color:white;
    font-weight: bold;
    outline:none;
}



/*header*/
